body {
	font-family: 'Montserrat';
	margin: 20px;
	background-color: #000;
	color: #fff;
}

@media (min-width: 700px) {
	.game {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	.sorry {
		display: none;
	}
}

@media (max-width: 700px) {
	.game {
		display: none;
	}
	.sorry {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-width: 100%;
		max-height: 80px;
		margin-top: 70px;
	}
	.sorry span {
		margin: 3px;
		font-size: 18px;
	}
	.sorry p {
		font-size: 24px;
		padding: 3px;
	}
}